.header {
    &-wrapper {
        border-bottom: 1px solid black;
    }
    &-link {
        cursor: pointer;
    }
}

.tag-start, .tag-end {
    margin: 5px 0;
}

.tag-start--btns {
    button {
        margin: 0 5px;
    }
}
