body {
    margin: 0;
}

.header {
    &-wrapper {
        border-bottom: 1px solid black;
    }
    &-link {
        cursor: pointer;
    }
}

.view-wrapper {
    padding-top: 10px;
}

.tag-start, .tag-end {
    position: relative;
}

.tag-start {
    &--tag {
        pointer-events: none;
    }
}

.tag-start.hovered {
    background-color: rgba(0, 0, 0, 0.2);
}

.separator--wrapper {
    height: 10px;
}

.separator--line {
    height: 2px;
    position: relative;
    top: 4px;
    pointer-events: none;
}

.separator--line.active {
    background-color: gray;
}

.modals-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}

.node-context-menu {
    position: absolute;
    background-color: white;
    margin: 0;
    padding: 5px 0;
    border: 1px solid gray;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    list-style-type: none;

    &--item {
        padding: 5px 10px;
        cursor: pointer;
        &:hover {
            background-color: gray;
        }
    }
}

.drag-overlay {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
